* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 400px;
  width: 350px;
  background-image: url('./static/background.png');
  background-size: cover;
  background-position: 30% center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu {
  height: 100%;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  cursor: url('https://res.cloudinary.com/miko2/raw/upload/v1657492283/aero_arrow_nurzij.cur'), pointer;
}

button {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  cursor: url('https://res.cloudinary.com/miko2/raw/upload/v1657492283/aero_arrow_nurzij.cur'), pointer;
  border: none;
  backdrop-filter: blur(4px);
}

button:hover {
  transition: transform 0.5s;
  transform: scale(1.05);
}

.menu-item {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 12pt;
  color: black;
}

.status {
  color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.name {
  color: white;
  padding: 5px;
  border: 1px solid white;
  outline: 1px solid #537cca;
  border-radius: 5px;
  background-image: linear-gradient(#537cca, #2a5fa4);
  width: 60%;
}

.online {
  background-image: linear-gradient(green, rgb(0, 182, 0));
}

.offline {
  background-image: linear-gradient(gray, rgb(151, 151, 151))
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5);
}